{% extends 'base.html' %}
{% block page %}
<div class="accueil">
    <div class="content">
        <h1>Bienvenue sur<br><span class="auto-typing">LPO SADA SHOW !</span></h1>
        <p>LPO SADA SHOW est un média social destiné au lycée de Sada.<br>Il propose aux étudiants<br>
            une plateforme pour partager des informations et des contenus divers.</p>
            <button class="Sug"><a href="#">suggestion</a></button>
            <button class="cont"><a href="/resutlta/voir-le-contenue">Voir le contenue</a></button>
            {% if connected == False %}
                <div class="form">
                    <h2>Connection</h2>
                    <form action="/login" method="post">
                        <input type="email" name="email" class="email" placeholder="Email">
                        <input type="password" name="password" class="password" placeholder="Mot de passse">
                        <br><a href="#">mot de passe oublié</a><br>
                        <button class="btn-log" type="submit">Connection</button>
                        <p class="link">Vous n'avez pas de compte<br>
                        <a href="/s-inscrire">Inscrivez vous ici</a></p>
                    </form>
                </div>
            {% else %}
                <a href="/print/{{new[0]}}"><div class="new">
                    <h2>Nouveau</h2>
                    <div class="title">
                        <h1>{{new[4]}}</h1>
                    </div>
                    <div class="image">
                        
                        <img src="{{url_for( 'static', filename=new[6])}}" alt="">
                    </div>
                    <!--<div class="description">
                        <p>{{new[5]}}</p>
                    </div>-->
                </div></a>
            {% endif %}
    </div>
</div>
<script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
<script>
    let typed = new Typed('.auto-typing', {
        strings: ['LPO SADA SHOW !'],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
        fadeOut: true,
        fadeOutClass: 'type-fade-out',
        fadeOutDelay: 500,
        shuffle: true
    }
    )
</script>
{% endblock %}