{% extends 'base.html' %}
{% block page %}
<div class="accueil">
    <div class="post">
        {% if connected == True and role in wrRole %}
            <form action="{{url_for('poster', name='/0')}}" method="post" enctype="multipart/form-data">
                <div class="write-post-container">
                    <div class="type">
                        <select id="pet-select" name="type" required>
                            <option value="article">article</option>
                            <option value="interview">interview</option>
                            <option value="podcast">podcast</option>
                        </select>
                    </div>
                    <div class="title">
                        <input type="text" name="title" id="title" placeholder="Titre du post" required>
                    </div>
                    <div class="post-input-container">
                        <textarea name="text" id="text"  rows="3" class="editable" required></textarea>
                        <script>var editor = new MediumEditor('.editable');</script>
                        <div class="add-post-links">
                            <label for="image"><i class="fa-solid fa-image fa-2xl" style="color: #65a8e6;"></i> image</label>
                            <input type="file" name="image" id="image" accept="image/*" enctype="multipart/form-data">
                            <label for="podcast"><i class="fa-solid fa-podcast fa-2xl" style="color: #65a8e6;"></i> vocal</label>
                            <input type="file" name="podcast" id="podcast" accept="audio/*" enctype="multipart/form-data">
                            <label for="interview"><i class="fa-solid fa-video fa-2xl" style="color: #65a8e6;"></i> video</label>
                            <input type="file" name="interview" id="interview" accept="video/*" enctype="multipart/form-data">
                        </div>
                    </div>
                    <div class="tags">
                        <input type="text" name="tags" id="tags" placeholder="Tags séparer par une virgule (,)" required>
                    </div>
                    <button type="button" id="je-post" onclick="IsOkToSend()">poster</button>
                </div>
            </form>
        {% endif %}
        <div class="post-container">
            {% for post in posts %}
                <div class="post">
                    <div class="decription">
                        <h1>{{post['title']}}</h1><br>
                        <p><small>{{post['type']}}</small><br>
                        <span>{{post['auteur']}}</span>
                        <span>{{post['date']}}</span> </p>
                    </div>
                    <p class="post-text">{{post['text']|safe}}</p>
                    {% if post['type'] == "article" or post['type'] == "podcast" and 'image_font' in post %}
                        {% if not post['image_font'].split('.')[-1] == '' %}
                            <img src="{{url_for('static', filename=post['image_font'])}}" alt=" image de l'article">
                        {% endif %}
                    {%elif post['type'] == "interview"%}
                        <video controls>
                            <source src="{{url_for('static', filename=post['vid'])}}">
                        </video>
                    {% endif %}
                    {% if post['type'] == "podcast"%}
                        <audio controls src="{{ url_for('static', filename=post['aud'])}}"></audio>
                    {% endif %}
                </div>
            {% endfor%}
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/check_files.js')}}"></script>
{% endblock %}