{% extends 'base.html' %}
{% block page %}
<div class="posts">
    <div class="btn-go">
        <a href="/post/article"><button>article</button></a>
        <a href="/post/podcast"><button>podcast</button></a>
        <a href="/post/interview"><button>interview</button></a>
    </div>
    <style>
        .posts
        {
            padding-bottom: 30%;
        }

        .posts .btn-go
        {
            position: absolute;
            left: 29%;
            top: 40%;
        }
        .posts .btn-go a button
        {
            padding-bottom: 10px;
            width: 500px;
            height: 50px;
            background: #058eec;
            border: 2px solid #058eec;
            margin-top: 13px;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
            border-radius: 30px;
            margin-left: 5%;
        }
    </style>
</div>
{% endblock %}