{% extends 'base.html' %}
{% block page %}
<div class="profile">
    <div class="profile-form">
        <div class="alert" role="alert">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <form action="{{url_for('profile', name='set-ident')}}" method="post">
            <div class="form1">
                <input type="text" id="inpute" value="{{user.Email}}" name="Email"  class="Email" placeholder="Email">
                <input type="text" id="inpute" value="{{user.Nom}}" name="Nom"    class="Nom" placeholder="Nom">
                <input type="text" id="inpute" value="{{user.Prenom}}" name="Prenom" class="Prenom" placeholder="Prenom">
                <input type="text" id="inpute" value="{{user.Pseudo}}" name="Pseudo" class="Pseudo" placeholder="Pseudo">
            </div>
            <br><input type="submit" value="soumettre" class="btn-soum"><br><br>
        </form>
        
        <form action="{{url_for('profile', name='set-password')}}" method="post">
            <div class="form2">
                <input type="password" id="inpute" name="new-password" class="new-password" placeholder="Nouveau mot de passe">
                <input type="password" id="inpute" name="password" class="password" placeholder="Mot de passe">
            </div>
            <br><input type="submit" value="soumettre" class="btn-soum"><br>
        </form>
        <div class="status">
            <a href="{{url_for('delete_user')}}"><button type="button">Supprimer mon compte</button></a>
        </div>
    </div> 
</div>
{% endblock %}