.accueil .write-post-container
{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
}

.accueil .write-post-container .type
{
    margin-bottom: 5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #626262;
}

.accueil .write-post-container .type select
{
    border: none;
    border-bottom: 1px solid #9a9a9a;
}


.accueil .write-post-container .post-input-container
{
    padding-left:55px;
    padding-top:20px;
}

.accueil .write-post-container .post-input-container .editable
{
    width: 100%;
    max-width: 500px;
    border:0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background:transparent;
    resize: none;
}


.accueil .write-post-container .post-input-container .add-post-links input
{
    display:none;
    visibility: none;
}

.accueil .write-post-container .post-input-container .add-post-links label
{
    cursor: pointer;
}

.accueil .write-post-container .post-input-container .add-post-links
{
    display: flex;
    text-align: center;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.accueil .write-post-container .post-input-container .add-post-links label i
{
    width: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.accueil .write-post-container .tags, .accueil .write-post-container .title
{
    padding-left:55px;
    padding-top:40px;
}

.accueil .write-post-container .tags input, .accueil .write-post-container .title input
{
    width: 100%;
    padding-bottom: 30px;
    border:0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background:transparent;
}

.accueil .write-post-container button
{
    margin-top: 30px;
    margin-left:55px;
    width: 70px;
    height: 40px;
    background: #058eec;
    border: 2px solid #058eec;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.accueil .post-container .post
{
    width: 100%;
    max-width: 500px;
    word-wrap:break-word;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.accueil .post-container .post .h1
{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 0.2rem;
}


.accueil .post-container .post .decription p span
{
    font-size: 13px;
    color:#9a9a9a;
}

.accueil .post-container .post .post-text
{
    color: #9a9a9a;
    margin:15px 0;
    font-size: 15px;
}

.accueil .post-container .post .post-text b
{
    font-weight: bold;
    color: black;
}

.accueil .post-container .post .post-text i
{
    font-style: italic;
    color: #adadad;
}

.accueil .post-container .post .post-text a
{
    color: #1876f2;
    font-weight: 900;
}

.accueil .post-container .post img, .accueil  .post-container .post video, .accueil .post-container .post audio
{
    width: 100%;
    max-height: 450px;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}



@media screen and (max-width: 900px) 
{
    .accueil .write-post-container .post-input-container .add-post-links label
    {
        color:#fff;
    }
}

