*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body
{
    background-color: #2374E1;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.3)),*/ url("/static/images/background_LPO_SADA.jpg");
    /*background-position: center;*/
    background-attachment: fixed;
    background-size:cover;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5181d5;
    padding: 5px 5%;
    position: sticky;
    top:0;
    z-index: 100;
}

.logo
{
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #fff;
   transform: rotate(-10deg);
}

.logo
{
    width: 50px;
    height: 50px;
    margin-right:20px
}

.nav-left, .nav-rigth
{
    display: flex;
    align-items: center;
}

.nav-left ul li
{
    display: inline-block;
    font-size: 13px;
    color: #efefef;
}

.nav-left ul li a
{
    color: #efefef;
}

.nav-left ul li a i
{
    width: 28px;
    margin: 0 15px;
}

.search
{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


.search button
{
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    cursor:pointer;
}

.search .search-bar-mobile
{
    display: none;
}

.search .send-research-button
{
    display: none;
}

.search i
{
    width: 18px;
    color:black;
}

.search #mobile-active
{
    display: none;
}

.search .search-bar
{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline:none;
    border: 0;
}

.nav-user-icon i
{
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
}

.nav-user-icon
{
    margin-left: 30px;
}


.container
{
    display: flex;
    justify-content:space-between;
    padding: 13px 5%;
}

.left-sidebar
{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar
{
    background-color: #fff;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
}

.main-content
{
    flex-basis: 47%;

}

.imp-link a
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color:aliceblue;
    width: fit-content;

}

.imp-link a img
{
    width: 25px;
    margin-right: 15px;
}

.imp-link 
{
    border-bottom: 1px solid #ccc;
}

.form
{
    width: 280px;
    height: 350px;
    background: white;
    border-radius: 10px;
    padding: 25px;
    margin: 20px 2px;
}

.alert
{
  background-color: #f8d7da;
  color: rgb(0, 0, 0);
  width: 90%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}

.alert ul
{
  list-style-type:none;
  
}

.form h2
{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #058eec;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input
{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #058eec;
    border-top: none;
    border-left: none;
    border-right: none;
    color:#000000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus
{
    outline: none;
}

::placeholder
{
    color: #494949;
    font-family: 'Trebuchet MS';
}


.btn-log
{
    width: 100px;
    height: 40px;
    background: #058eec;
    border: 2px solid #058eec;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
}

.btn-log:hover
{
    background: #000000;
    border: none;
    color: rgb(255, 243, 243);
}

.form .link
{
    font-family: Arial;
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
}

.form  a
{
    color: #058eec;
    text-align: center;
    padding-bottom: 10px;
}

.form  p
{
    color: #000000;
}

.footer
{
    text-align: center;
    color: #fff;
    padding: 10px 0 20px;
    font-size: 18px;
}

.footer a
{
    color: #fff;
    font-size: 18px;
}

.settings-menu
{
    position: absolute;
    width:90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height
{
    max-height: 350px;
}

.settings-menu .user-profile i
{
    width: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor:pointer;
}

.settings-menu .user-profile a
{
    font-size: 12px;
    color:#1876f2;
}

.settings-menu .settings-menu-inner
{
    padding: 20px;
}

.settings-menu .settings-menu-inner hr
{
    border:0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;

}

.settings-menu .settings-menu-inner .settings-links
{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-menu .settings-menu-inner .settings-links i
{
    width:387px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-menu .settings-menu-inner .settings-links a
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #626262;
}

.on-cherche-mobile
{
    display: none;
    visibility: hidden;
}

.search .on-active-on-mobile-input
{
    background: #efefef;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search .on-active-on-mobile-button
{
    display: block;
}


@media screen and (max-width: 900px) 
{
    i
    {
        font-size: 2px;
    }

    .search
    {
        width:50px;
        background-color: transparent;
        padding: 0;
        margin:0;
    }

    .search .search-bar
    {
        visibility: hidden;
    }

    .search i
    {
        color: #fff;
    }

    .search #mobile-active
    {
        display: block;
        cursor:pointer;
    }

    .search #normale-active
    {
        display: none;
    }

    .container
    {
        display: block;
    }

    .footer a
    {
        font-size: 15px;
    }

    .nav-user-icon
    {
        margin: 0;
    }
    
    .nav-user-icon i
    {
        width:18px;
    }
    
    .left-sidebar, .right-sidebar
    {
        position:relative;
        top:18px;
    }


}

@media screen and (max-width: 350px)
{
    .search
    {
        width:40px;
    }

    .logo
    {
        /*transform: rotate(0deg);*/
        height: 40px;
        width: 40px;
    }
}