.resulta
{
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
    color: #fff;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.resulta .header
{
    margin-bottom: 10%;
    margin-left: 20%;
    width: 500px;
    height: min-content;
}

.resulta .header .title h1
{
    font-family: Merriweather, MerriFallback, serif;
    font-style: italic;
    font-weight: 600;
    border-left: 10px solid #058eec;
    background: #fff;
    filter: brightness(1.75);
    color: black;
    
}

.resulta .vitrine
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 70px;
    width: 100%;
}

.resulta .vitrine button
{
    border:none;
    background-color: transparent;

    width: 300px;
    height: 400px;

    padding: 0;
    cursor: pointer;
}

.resulta .vitrine button:hover
{
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.resulta .vitrine button .news .image img
{
    width: 295px;
    height: 300px;
}

.resulta .vitrine button .news .description
{
    padding: 1%;
    text-align: left;
    color: #fff;
}

.resulta .vitrine button .news .description .categorie p
{
    font-family: Halcom, sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 0.25rem;
    background: linear-gradient(120deg,#379eff 30%,#1e65ff 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resulta .vitrine button .news .description .title p
{
    font-family: Merriweather, MerriFallback, serif;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 21px;
    color: rgb(255, 255, 255);
}

.resulta .vitrine button .news .description .date p
{
    font-family: Halcom, sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 14px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(201, 201, 201);
    margin-left: 0.25rem
}

.resulta .vitrine .error-sys-555-not-found h1
{
    font-family: Halcom, sans-serif;
    font-weight: 300;
    font-size: 33px;
}